body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: #f9f9f9;
    color: #333;
    max-width: 900px;
    margin: auto;
}

.action-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.action-bar input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.action-bar button {
    background: #007bff;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 6px;
    cursor: pointer;
}

.action-bar button:hover {
    background: #0056b3;
}

.formContainer {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.form-container.hidden {
    display: none;
}

.form-container h3 {
    margin-top: 0;
}

.form-container label {
    display: block;
    margin: 10px 0 5px;
}

.form-container input,
.form-container textarea {
    font-family: Arial, sans-serif;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.form-buttons {
    margin-top: 15px;
    display: flex;
    gap: 10px;
}

.form-buttons button {
    flex: 1;
    padding: 10px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.form-buttons button[type="submit"] {
    background: #28a745;
    color: white;
}

.form-buttons .secondary {
    background: #ccc;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

thead {
    background: #007bff;
    color: white;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tbody tr:hover {
    background: #f1f1f1;
}

button, #searchBtn{
    cursor: pointer;
}

#notification {
  top: 10px;
  right: 10px;
  padding: 12px 20px;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  z-index: 1000;
  align-items: center;
}

#notification.success { background-color: #4caf50; }
#notification.error { background-color: #f44336; }

.hidden { display: none; }

#principal{
    margin-top: 50px;
}